#game {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.dot {
  height: 8px;
  width: 8px;
  background-color: #282c34;
  border-radius: 90%;
}

.box {
  height: 64px;
  width: 64px;
}

.horizontalContainer {
  height: 4px;
  width: 64px;
  border-bottom: 2px dashed #D9D9D9;
}

.verticalContainer {
  height: 64px;
  width: 4px;
  border-left: 2px dashed #D9D9D9;
}

#difficulty
{
  display: flex;
  margin-top: 16px;
  gap: 10px;
}

#board {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 50px;
  margin: 10px
}

#header {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding:10px 50px;
  margin:10px
}