#game {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.dot {
  height: 4px;
  width: 4px;
  background-color: #282c34;
}

.box {
  height: 25px;
  width: 25px;
}

.horizontalContainer {
  height: 4px;
  width: 25px;
  border: 2px;
}

.verticalContainer {
  height: 25px;
  width: 4px;
  border: 2px;
}

#board {
  display: flex;
  flex-direction: column;
  padding: 10px 50px;
  margin: 10px
}

#header {
  padding:10px 50px;
  margin:10px
}
